h1,h2,h3,h4,h5,h6,p,ul,li{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.container{
    max-width: 85%;
    margin: 0 auto;
}
.main_nav{
    background-color: tomato;
}
.nav_align{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu ul{
    display: flex;
    align-items: center;
}
.menu a{
    text-decoration: none;
    font-size: 18px;
    transition: .3s;
    display: block;
    padding: 15px 20px;
}
.menu a:hover{
    background-color: teal;
}